<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/posts" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">posts</h2></a>
<a href="{{ "/whoami" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">whoami</h2></a>
<a href="{{ "/contact" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Contact</h2></a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/thoughts" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Thoughts</h2></a>
<a href="{{ "/sketches" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Sketches</h2></a>
<!--<a href="{{ "/sketches" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">sketches</h2></a>-->
<!--<a href="{{ "/atom.xml" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">RSS</h2></a>-->