.cv-container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

.cv-header {
    text-align: center;
    color: #4646c8;
}

.cv-section {
    margin-bottom: 20px;
}

.cv-section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

// Added for Experience visual purpose
.art-gallery-wrapper {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.art-gallery {
    display: flex;
    transition: transform 0.5s ease;
}

.art-item {
    flex: 0 0 calc(33.33% - 20px); /* Show 3 items at a time with some margin */
    margin: 10px; /* Adjust margin to create distance between items */
    position: relative;
    overflow: hidden;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.art-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.nav.prev {
    left: 0;
}

.nav.next {
    right: 0;
}

// Lightbox styles
.lightbox {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 10px;
    right: 25px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.link-table a {
    color: linear-gradient(to right, #0e0725, #5c03bc, #e536ab, #f4e5f0);
    text-decoration: none;
}

.link-table td {
    border: 5px solid transparent; /* Make the border visible */
    border-image: linear-gradient(to right, #0e0725, #5c03bc, #e536ab, #f4e5f0) 1; /* Gradient border */
    border-image-slice: 1; /* Ensure the gradient is applied */
    padding: 5px;
    text-align: center;
    background-color: transparent; /* Transparent background */
    margin-bottom: 5px;
}

.link-table a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .link-table, .link-table tr, .link-table td {
        display: block;
        width: 100%;
    }

    .link-table td {
        border: 5px solid transparent; /* Make the border visible */
        border-image: linear-gradient(to right, #0e0725, #5c03bc, #e536ab, #f4e5f0) 1; /* Gradient border */
        border-image-slice: 1; /* Ensure the gradient is applied */
        padding: 5px;
        text-align: center;
        background-color: transparent; /* Transparent background */
        margin-bottom: 5px;
    }

    .link-table td a {
        display: block;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .art-gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust for smaller screens */
    }
}

.video-container {
    width: 100%;
    max-width: 100%; /* Ensures it doesn't exceed the container size */
    margin: 0 auto; /* Centering the video */
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}