.cv-container {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

.cv-header {
    text-align: center;
    color: #4646c8;
}

.cv-section {
    margin-bottom: 20px;
}

.cv-section h2 {
    //color: #4646c8;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}
