.gallery-grid {
  margin: 0 auto; /* Center the grid */
}

.gallery-grid img {
  width: 100%; /* Responsive images */
  height: auto;
  margin-bottom: 10px; /* Space between images, adjust as needed */
  display: block; /* Remove inline behavior */
}