// https://coolors.co/gradients

.gradient-text_1 {
  background: linear-gradient(to right, #00c6ff, #0072ff, #ff00ff);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_2 {
  background: linear-gradient(to right, #ec1d01, #da7415, #fbff00);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_3 {
  background: linear-gradient(to right, #0e0725, #5c03bc, #e536ab #f4e5f0);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_4 {
  background: linear-gradient(to right, #ff1b6b, #45caff);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_5 {
  background: linear-gradient(to right, #40c9ff, #e81cff, #fbff00);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_6 {
  background: linear-gradient(to right, #ff0f7b, #f89b29);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_7 {
  background: linear-gradient(to right, #bf0fff, #cbff49, #e81cff);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_8 {
  background: linear-gradient(to right, #ff1b6b, #e81cff, #f8acff);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_9 {
  background: linear-gradient(to right, #a9ff68, #ff8989);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_10 {
  background: linear-gradient(to right, #ff5858, #ffc8c8);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_11 {
  background: linear-gradient(to right, #595cff, #c6f8ff);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_12 {
  background: linear-gradient(to right, #84ffc9, #aab2ff, #eca0ff);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_13 {
  background: linear-gradient(to right, #ef709b, #fa9372);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_14 {
  background: linear-gradient(to right, #b2ef91, #fa9372);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_15 {
  background: linear-gradient(to right, #f492f0, #a18dce);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_16 {
  background: linear-gradient(to right, #f9b16e, #f68080);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_17 {
  background: linear-gradient(to right, #f492f0, #a18dce);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_18 {
  background: linear-gradient(to right, #9bafd9, #103783);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_19 {
  background: linear-gradient(to right, #fbd07c, #f7f779);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_20 {
  background: linear-gradient(to right, #c5f9d7, #f7d486, #f27a7d);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_21 {
  background: linear-gradient(to right, #f6d5f7, #fbe9d7);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_22 {
  background: linear-gradient(to right, #432371, #faae7b);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_23 {
  background: linear-gradient(to right, #f6d5f7, #fbe9d7);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_24 {
  background: linear-gradient(to right, #439cfb, #f187fb);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_25 {
  background: linear-gradient(to right, #f492f0, #a18dce);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_26 {
  background: linear-gradient(to right, #1dbde6, #f1515e);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_27 {
  background: linear-gradient(to right, #57ebde, #aefb2a);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_28 {
  background: linear-gradient(to right, #42047e, #07f49e);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_29 {
  background: linear-gradient(to right, #f4f269, #5cb270);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_30 {
  background: linear-gradient(to right, #2feaa8, #028cf3);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_31 {
  background: linear-gradient(to right, #b80b61, #f81bf8);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_32 {
  background: linear-gradient(to right, #ff9a9e, #fad0c4);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_33 {
  background: linear-gradient(to right, #a18cd1, #fbc2eb);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_34 {
  background: linear-gradient(to right, #f6d365, #fda085);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_35 {
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_36 {
  background: linear-gradient(to right, #fdcbf1, #e6dee9);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_37 {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_38 {
  background: linear-gradient(to right, #d4fc79, #96e6a1);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_39 {
  background: linear-gradient(to right, #84fab0, #8fd3f4);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_40 {
  background: linear-gradient(to right, #a6c0fe, #f68084);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_41 {
  background: linear-gradient(to right, #fccb90, #d57eeb);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_42 {
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_43 {
  background: linear-gradient(to right, #f093fb, #f5576c);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_44 {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_45 {
  background: linear-gradient(to right, #43e97b, #38f9d7);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_46 {
  background: linear-gradient(to right, #fa709a, #fee140);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_47 {
  background: linear-gradient(to right, #30cfd0, #330867);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_48 {
  background: linear-gradient(to right, #a8edea, #fed6e3);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_49 {
  background: linear-gradient(to right, #5ee7df, #b490ca);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_50 {
  background: linear-gradient(to right, #d299c2, #fef9d7);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_51 {
  background: linear-gradient(to right, #fdfbfb, #ebedee);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_52 {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_53 {
  background: linear-gradient(to right, #667eea, #764ba2);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_54 {
  background: linear-gradient(to right, #89f7fe, #66a6ff);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_55 {
  background: linear-gradient(to right, #6a11cb, #2575fc);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_56 {
  background: linear-gradient(to right, #37ecba, #72afd3);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_57 {
  background: linear-gradient(to right, #ff0844, #ffb199);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_58 {
  background: linear-gradient(to right, #ff9a9e, #fecfef);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_59 {
  background: linear-gradient(to right, #f6d365, #fda085);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_60 {
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_61 {
  background: linear-gradient(to right, #fdcbf1, #e6dee9);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_62 {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_63 {
  background: linear-gradient(to right, #d4fc79, #96e6a1);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_64 {
  background: linear-gradient(to right, #84fab0, #8fd3f4);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_65 {
  background: linear-gradient(to right, #a6c0fe, #f68084);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_66 {
  background: linear-gradient(to right, #fccb90, #d57eeb);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_67 {
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_68 {
  background: linear-gradient(to right, #f093fb, #f5576c);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_69 {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_70 {
  background: linear-gradient(to right, #43e97b, #38f9d7);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_71 {
  background: linear-gradient(to right, #fa709a, #fee140);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_72 {
  background: linear-gradient(to right, #30cfd0, #330867);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_73 {
  background: linear-gradient(to right, #a8edea, #fed6e3);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_74 {
  background: linear-gradient(to right, #5ee7df, #b490ca);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_75 {
  background: linear-gradient(to right, #d299c2, #fef9d7);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_76 {
  background: linear-gradient(to right, #fdfbfb, #ebedee);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_77 {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_78 {
  background: linear-gradient(to right, #667eea, #764ba2);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_79 {
  background: linear-gradient(to right, #89f7fe, #66a6ff);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_80 {
  background: linear-gradient(to left, #f60d99, #00bbff, #ff00a6);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_81 {
  background: linear-gradient(to right, #37ecba, #72afd3);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_82 {
  background: linear-gradient(to right, #ff0844, #ffb199);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_83 {
  background: linear-gradient(to right, #ff9a9e, #fecfef);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_84 {
  background: linear-gradient(to right, #f6d365, #fda085);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_85 {
  background: linear-gradient(to right, #fbc2eb, #a6c1ee);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_86 {
  background: linear-gradient(to right, #fdcbf1, #e6dee9);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_87 {
  background: linear-gradient(to right, #a1c4fd, #c2e9fb);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_88 {
  background: linear-gradient(to right, #d4fc79, #96e6a1);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_89 {
  background: linear-gradient(to right, #84fab0, #8fd3f4);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_90 {
  background: linear-gradient(to right, #a6c0fe, #f68084);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_91 {
  background: linear-gradient(to right, #fccb90, #d57eeb);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_92 {
  background: linear-gradient(to right, #e0c3fc, #8ec5fc);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_93 {
  background: linear-gradient(to right, #f093fb, #f5576c);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_94 {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_95 {
  background: linear-gradient(to right, #43e97b, #38f9d7);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_96 {
  background: linear-gradient(to right, #fa709a, #fee140);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_97 {
  background: linear-gradient(to right, #30cfd0, #330867);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_98 {
  background: linear-gradient(to right, #a8edea, #fed6e3);
  -webkit-background-clip: text;
  color: transparent;
}

.gradient-text_99 {
  background: linear-gradient(to right, #5ee7df, #b490ca);
  -webkit-background-clip: text;
  color: transparent;
}