<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Include your site's head content here -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | replace: '//', '/' }}">
</head>
<body>
  <div class="thoughts-container">
    {% for thought in site.thoughts %}
      <div class="thought">
        <div class="thought-content">{{ thought.content | newline_to_br }}</div>
        <div class="thought-date">{{ thought.date | date: "%d/%m/%Y" }}</div>
      </div>
    {% endfor %}
  </div>
</body>
</html>